body
{
    /* background-image: url(web.jpg); */
    background:rgb(207, 241, 255);
    background-size: cover;
}
.head
{
    background-color:white;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    display: flex;
}
.head a{
 margin:15px;
 font-size: 20px;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: black;
}
a:hover{
    color:blue;
}
.div
{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    background-color:rgb(230, 232, 235);
    height:auto;
    width: auto;
    border-radius:15px;
}
h1
{
   color:rgb(13, 13, 153);
   font-size: 45px;
}
.center
{
    text-align: center;
}
.align
{
    padding: 60px;
    margin: 45px;
}
.pera
{
    font-size: 11px;
    color: rgb(192, 43, 135);
}
p
{
    color: rgb(85, 77, 77);
    font-size: 19px;
    margin-top:5px;
    margin-right: 500px;
}  
.button
{
   padding: 10px;
    border-radius: 5px;
    background: rgb(255, 69, 0);
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.button:hover
{

    background:black;
   }
.button1
{
    padding: 10px;
    border-radius: 5px;
    background: rgb(255, 69, 0);
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.button1:hover
{
    background:black;
}
.button2
{
padding: 10px;
margin: 20px;
    border-radius: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.button2:hover
{
    background:black;
    color: white;
}
.name
{
    font-family:Arial, Helvetica, sans-serif;
}
.img img{
    border-radius: 15px;
    margin-right:100px;
}


